body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.doctor-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.therapist-list {
  list-style: none;
  padding: 0;
}

.therapist-list li {
  margin-bottom: 10px;
}

.therapist-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.therapist-list li a:hover {
  background-color: #ddd;
}

.patient-table {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 65%;
}

#content {
  padding: 20px;
}

#therapist-name {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#therapist-info {
  margin-top: 10px;
}

#patient-count {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

#patient-details {
  margin-top: 10px;
}

/* Table Styling */
table.default {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.default th,
table.default td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

table.default th {
  background-color: #f0f0f0;
  font-weight: bold;
}



/* Thirumalai Balasubramani */