html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color:#eb7777;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header .logo {
    text-align: center;
    margin-bottom: 10px;
}

header .logo img {
    max-width: 100px;
    height: auto;
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-nav li {
    position: relative;
}

.main-nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
}

.main-nav a:hover {
    background-color: #eb9284;
}

.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#eb7777;
    display: none;
}

.dropdown li {
    width: 200px;
}

.dropdown a {
    padding: 10px 20px;
}

.main-nav li:hover .dropdown {
    display: block;
}
.int{
    align-content: center;
    text-align: center;
}

.services {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service {
    text-align: center;
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



footer {
    background-color: #eb7777;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
}


/* Thirumalai Balasubramani */